div.bc-container {
    .gold-00 {
        color: $gold-00;
    }
    .bg-gold-00 {
        background-color: $gold-00;
    }

    .gold-business, //empresa
    .gold-10 {
        color: $gold-10;
    }
    .bg-gold-business,
    .bg-gold-10 {
        background-color: $gold-10;
    }

    .gold-cuscatlan-oro,
    .gold-20 {
        color: $gold-20;
    }
    .bg-gold-cuscatlan-oro
    .bg-gold-10 {
        background-color: $gold-20;
    }
}