div.bc-container {
    .blue-text,
    .primary-blue,
    .blue-bc,
    .blue-00 {
        color: $blue-00;
    }
    .bg-blue-bc,
    .bg-blue-00 {
        background-color: $blue-00;
    }

    .blue-10 {
        color: $blue-10;
    }
    .bg-blue-10 {
        background-color: $blue-10;
    }
    
    .blue-20 {
        color: $blue-20;
    }
    .bg-blue-20 {
        background-color: $blue-20;
    }

    .blue-30 {
        color: $blue-30;
    }
    .bg-blue-30 {
        background-color: $blue-30;
    }

    .blue-40 {
        color: $blue-40;
    }
    .bg-blue-40 {
        background-color: $blue-40;
    }



    .yellow-10 {
        color: $yellow-10;
    }
    .bg-yellow-10 {
        background-color: $yellow-10;
    }

    .primary,
    .yellow-20 {
        color: $yellow-20;
    }
    .bg-primary,
    .bg-yellow-20 {
        background-color: $yellow-20;
    }

    .yellow-30 {
        color: $yellow-30;
    }
    .bg-yellow-30 {
        background-color: $yellow-30;
    }

    .yellow-40 {
        color: $yellow-40;
    }
    .bg-yellow-40 {
        background-color: $yellow-40;
    }
}