div.bc-container {
    .innovation {
        color: $innovation;
    }
    .bg-innovation {
        background-color: $innovation;
    }

    .passion {
        color: $passion;
    }
    .bg-passion {
        background-color: $passion;
    }

    .service {
        color: $service;
    }
    .bg-service {
        background-color: $service;
    }

    .excellence {
        color: $service;
    }
    .bg-excellence {
        background-color: $excellence;
    }

    .onlife {
        color: #2C85BC;
    }
    .bg-onlife {
        background-color: #2C85BC;
    }
}