$blue-00: #01426A; //primary //empresa
$blue-10: #185A7D;
$blue-20: #2C85BC;
$blue-30: #9BB8D3;
$blue-40: #E7EFF5;

$yellow-10: #E6B200; 
$yellow-20: #FFC600; //primary
$yellow-30: #FED880;
$yellow-40: #FFEFD2;

$gold-00: #9C7D47;
$gold-10: #B9975B; // empresa
$gold-20: #D6B171; //cuscatlan ORO
$gold-30: #D6AC50; //este no existe en system design

$innovation: #005FFF;;
$passion: #760EFC;
$service: #FFA800;
$excellence:  #00DEB6;

$white: #fff;
$light-10: #F2F2F2;
$light-20: #E6E6E6;
$gray-30: #D9D9D6;
$gray-40: #AAAAAA;
$gray-50: #454545;
$black: #141414; //cuscatlan ORO


$success-1: #EEFFF6;
$information-1: #F1F9FF;
$warning-1: #FFEFB7;
$error-1: #FFEAEB;

$success-2: #65D598;
$information-2: #4FABE4;
$warning-2: #FFC600; //$yellow-2
$error-2: #DF1C24;


$success-3: #009444;
$warning-3: #C9A81C;
$information-3: #126293;
$error-3: #790005;


$bg: #F8F8F8;
$bg-yellow: #FFC600; //$yellow-2