<div class="container bc-container">
  <div class="flex-container mb-4 bg-success-light">
    <h6 class="h6-inventado pl-3 pr-3 mt-1 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, quas!
    </h6>
  </div>

  <h3>Lorem ipsum dolor sit amet.</h3>
  <div>
    <button class="btn btn-primary" (click)="handlerBtn()">Accion</button>
  </div>

  <h6 class="bg-danger-light danger mt-1 mb-4" [ngClass]="{'bg-danger-dark': isShowMessage}">
    Mostrar Mensaje
  </h6>

</div>

<ng-container *ngIf="listaDeArchivos.length">
  <div class="bc-container" *ngFor="let item of listaDeArchivos">
    <h4>{{item.nombre}}</h4>
    <img [src]="item.url" />
  </div>
</ng-container>

